:root {
  /* default dark mode */
  --text-color: #f8f8f2; /* Light text color */
  --bg-color: #1c1c28; /* Dark blue background */
  --selection-color: #ff79c6; /* Pink selection color */
  --cursor-color: #ffb86c; /* Orange cursor color */
  --command-color: #2ed458; /* Green command color */
  --liner-color: #ff79c6; /* Pink line color */
  --index-color: #8be9fd; /* Cyan index color */
  --color2-color: #ffb86c; /* Orange secondary color */
  --cmd-color: #bd93f9; /* Purple command color */
  --cmd-shadow: #ff79c6; /* Pink command shadow */
  --error-color: #a91a1a; /* Red error color */
  --link-color: #8be9fd; /* Cyan link color */
  --link-hover-color: #50fa7b; /* Green link hover color */
  --link-hover-bg: #282a36; /* Dark blue link hover background */
}

[data-theme='dark'] {
  --text-color: #f8f8f2;
  --bg-color: #1c1c28;
  --selection-color: #ff79c6;
  --cursor-color: #ffb86c;
  --command-color: #2ed458;
  --liner-color: #ff79c6;
  --index-color: #8be9fd;
  --color2-color: #ffb86c;
  --cmd-color: #bd93f9;
  --cmd-shadow: #ff79c6;
  --error-color: #a91a1a;
  --link-color: #8be9fd;
  --link-hover-color: #50fa7b;
  --link-hover-bg: #282a36;
}

[data-theme='light'] {
  --text-color: #282a36; /* Dark text for light theme */
  --bg-color: #f8f8f2; /* Light background */
  --selection-color: #ff79c6; /* Pink selection color */
  --cursor-color: #282a36; /* Dark cursor color */
  --command-color: #2ed458; /* Green command color */
  --liner-color: #ff79c6; /* Pink line color */
  --index-color: #ffb86c; /* Orange index color */
  --color2-color: #8be9fd; /* Cyan secondary color */
  --cmd-color: #bd93f9; /* Purple command color */
  --cmd-shadow: #ff79c6; /* Pink command shadow */
  --error-color: #a91a1a; /* Red error color */
  --link-color: #50fa7b; /* Green link color */
  --link-hover-color: #ff79c6; /* Pink link hover color */
  --link-hover-bg: #f8f8f2; /* Light link hover background */
}
